body {
    transition: .2s all ease-in-out;
}

.tab-link{
    color: #B9B9B9;
}

.tab-link a { 
    color: inherit;
}

@media only screen and (max-width: 768px) {
    .tab-link:not(:first-child) {
        margin-left: 40px;
    }
}

form {
    width: 100%;
}

figure > img {
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)
}

.column.media-info {
    height: 100%;
}

input { 
    transition: .2s all ease-in-out;
}

a {
    transition: .2s all ease-in-out;
}

.site-title {
    color: inherit;
}

.site-title:hover {
    color: #683100;
}

b {
    color: rgb(215, 215, 215);
}

.progress::-webkit-progress-value {
    transition: width 0.5s ease;
}

.custom-shape-divider-top-1606238326 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.shape-fill {
    fill: white;
}

.custom-shape-divider-bottom-1606242986 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1606242986 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 468px;
}

#download-input::placeholder {
    color: #4A4A4A;
}

.hero .hero-foot {
    background-color: #171717;
}

.shape-fill {
    fill: #FF3300;
}

.footer {
    background-color: #171717!important;
}

.z-index-1000 {
    z-index: 1000;
}

.track-list-item-container {
    margin-bottom: 0px!important;
}

h2 {
    color: #D8D8D8;
    font-size: 18px;
    font-weight: 500;
}
