body {
    transition: .2s all ease-in-out;
}

.tab-link{
    color: #B9B9B9;
}

.tab-link a { 
    color: inherit;
}

form {
    width: 100%;
}

figure > img {
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)
}

.column.media-info {
    height: 100%;
}

input { 
    transition: .2s all ease-in-out;
}

a {
    transition: .2s all ease-in-out;
}

.site-title {
    color: inherit;
}

.site-title:hover {
    color: #683100;
}

b {
    color: #4B4B4B;
}

.progress::-webkit-progress-value {
    transition: width 0.5s ease;
}

.custom-shape-divider-top-1606238326 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.shape-fill {
    fill: white;
}