body {
    transition: .2s all ease-in-out;
}

.tab-link{
    color: #B9B9B9;
}

.tab-link a { 
    color: inherit;
}

form {
    width: 100%;
}

figure > img {
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)
}

.column.media-info {
    height: 100%;
}